<body style="background-color:orange;" >
	<h1 style="color:green; text-align:left">Food Bank Attendance</h1>
	<h2 style="text-align:left;">Location: {{ location.location_name }}  Date: {{ date }}<h2>
	<form method="post">{% csrf_token %}
		{{ ar_form.as_p }}
		<input type="submit" value="Submit">
	</form>
	id:<input type="text" name="id" placeholder="1234"; maxlength="8"; size="25"><br>
	name:<input type="text"; readonly = true; size="19"><br>
	addr:<input type="text"; readonly = true; size="20"><br><br>
</body>
