{% extends "base.html" %}

{% block content %}
	<h1>Locations</h1>

	<form action="" method="get">
		<input type="submit" name="location" value="Food Bank 1"><br>
		<input type="submit" name="location" value="Food Bank 2"><br>
		<input type="submit" name="location" value="Food Bank 3"><br>
		<input type="submit" name="location" value="Food Bank 4"><br>
		<input type="submit" name="location" value="Food Bank 5"><br>
		<input type="submit" name="location" value="Food Bank 6"><br>
		<input type="submit" name="location" value="Club Bamboo"><br>
	</form>

{% endblock content %}