<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/darkly.css' %}"/>
    <title>Hello World</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Hello World</a>
            </div>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/polls">Polls</a></li>
                </ul>
                
                <span class="nav navbar-nav navbar-right">
                    <a class="btn btn-default navbar-btn" href="#">Sign in</a>
                </span>
            </div>
        </div>
    </nav>
        
    <div class="container text-center">
        <h1>DRAGON for ACRS</h1>
        <h5>Daily Record-keeping for ACRS's General Operational Needs</h5>
    </div>

    <div class="container text-center">
    	<img src="{% static 'images/dragon.png' %}" alt="Dragon" height="360" width="360" class="text-center">
    </div>

</body>
</html>